.community-info {
    color: #D7DADC;
    text-align: center;
    border: thin solid grey;
    border-radius: 5px;
    background: #1A1A1B;
    padding: 10px 20px;
}

.info-header-text {
    padding-bottom: 5px;
    border-bottom: 1px solid grey;
}

.info-header-wrapper {
    font-size: 20px;
}

.info-content-text {
    text-align: left;
    font-size: 16px;
    line-height: 24px;
}

.additional-info-section {
    display: flex;
    justify-content: space-around;
}

.community-cta-section {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.community-cta-section div {
    margin: 4px 0;
}

.community-cta {
    padding: 8px 25px;
    font-size: 15px;
    font-weight: 700;
    width: 70%;
    cursor: pointer;
    border: 2px solid grey;
    border-radius: 6px;
    box-shadow: inset -1px -1px 2px 0px grey;
    color: #D7DADC;
}

.create-post-cta {
    background: #58b4f1dc;
}

.community-cta:hover {
    background: rgb(245, 240, 240);
    color: black;
}

.edit-cta, .delete-cta {
    background: rgb(136, 66, 216);
}

.join-cta {
    background: rgba(18, 227, 241, 0.5);
}