@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

*,
::after,
::before {
  box-sizing: border-box;
}

#root {
  position: relative;
}

.btn-nav-cta {
  @apply btn bg-base-100 text-accent rounded-lg px-6 hover:bg-accent-focus hover:text-primary-content;
}
