@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  z-index: 1;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

*,
::after,
::before {
  box-sizing: border-box;
}

#root {
  position: relative;
}

.body-overflow {
  @apply overflow-hidden;
}

.btn-auth-cta {
  @apply btn bg-base-100 text-accent rounded-lg px-6 hover:bg-accent-focus hover:text-primary-content;
}

.btn-post-filter {
  @apply btn bg-secondary px-5 py-2 flex gap-2 items-center rounded-xl text-xl;
}

.btn-community-cta {
  @apply btn w-full bg-primary text-primary-content rounded-lg px-6 hover:bg-primary-content hover:text-primary;
}

.primary-opacity-1 {
  background: rgba(80, 20, 184, 1);
}
