@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: blue;
}

*,
::after,
::before {
  box-sizing: border-box;
}

#root {
  position: relative;
}
