.create-post-wrapper {
    display: block;
    color: whitesmoke;
    font-size: 20px;
    font-weight: 700;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #58b4f1dc;
    padding: 50px 100px;
    z-index: 100;
    border: 2px solid grey;
    border-radius: 6px;
    width: 60%;
    opacity: 0;
    animation: display-modal 1s forwards;
}

@keyframes display-modal {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .7);
    z-index: 100;
}
.create-post-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-post-form fieldset {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    gap: 10px;
    margin: 0;
    border: 0;
    padding: 0;
}

.create-post-title-wrapper,
.create-post-content-wrapper,
.create-cta-wrapper {
    padding: 10px 40px;
    width: 80%;
}

input, textarea {
    border-radius: .25em;
}

#content {
    resize: none;
}

#title {
    height: 30px;
}

#title, #content {
    font-size: 18px;
}

.create-form-cta {
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
    padding: 6px 0px;
    margin: 0 auto;
}

.create-form-cta:hover,
.create-form-cta:focus {
    color: whitesmoke;
    background: #58b4f1dc;
    cursor: pointer;
}

.create-form-cta:disabled {
    cursor: wait;
}

.create-cta-wrapper {
    display: flex;
}

.close-cta-wrapper {
    position: absolute;
    left: 90%;
    top: 4%;
    display: flex;
}

.close-cta-wrapper button {
    border-radius: 15px;
}

.close-cta-wrapper button:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: transform 0.5s;
}

.close-cta-wrapper button:disabled {
    cursor: wait;
}

.close-cta-wrapper button i {
    font-size: 20px;
    color: red;
}

#title {
    text-align: center;
}