.post {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
}

.post-content {
    border: thin solid grey;
    border-radius: 5px;
    background: #1A1A1B;
    width: 70%;
    padding: 0 35px;
}

.post-title-text {
    color: #C8CBCD;
    font-size: 28px;
    line-height: 40px;
    margin-top: 0;
}

.post-content-text {
    color: #C8CBCD;
    font-size: 20px;
    line-height: 30px;
}

.post-info-wrapper {
    display: flex;
    gap: 20px;
    color: #C8CBCD;
    font-size: 14px;
}

.post-listing-author-content a {
    text-decoration: none;
    color: grey;
    font-style: italic;
    font-size: 15px;
}

.post-listing-author-content a:hover {
    color: #58b4f1dc;
}

.post-leave-comment {
    background: #1A1A1B;
    resize: none;
    color: #C8CBCD;
    font-size: 20px;
    border-radius: 6px;
}

.post-leave-comment:focus-visible {
    outline: none;
}

.post-leave-comment-wrapper {
    display: flex;
    flex-direction: column;
    color: #C8CBCD;
    gap: 8px;
    margin-top: 15px;
}

.post-leave-comment-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.leave-comment-cta:disabled {
    background: grey;
    cursor: not-allowed;
}

.leave-comment-cta {
    align-self: flex-end;
    border-radius: 6px;
    padding: 5px 7px;
    margin-top: 5px;
    font-size: 16px;
    font-weight: 700;
    border: thin solid grey;
    background: #58b4f1dc;
    color: white;
}

.leave-comment-cta:enabled:hover {
    cursor: pointer;
    background: white;
    color: #58b4f1dc;

}

.post-comment-anonymous {
    border: thin solid grey;
    border-radius: 3px;
    margin-top: 60px;
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-comment-anonymous-text {
    color: #818384;
    font-size: 17px;
}

.post-comment-cta-wrapper {
    display: flex;
    gap: 7px;
}

.post-comment-login,
.post-comment-signup {
    border-radius: 15px;
    padding: 6px 15px;
    font-weight: 700;
}

.post-comment-login a,
.post-comment-signup a {
    text-decoration: none;
}

.post-comment-login a {
    color: #D7DADC;
}

.post-comment-signup a {
    color: #1A1A2B;
}

.post-comment-login {
    background: #212223;
    border: 1px solid white;
}

.post-comment-login:hover {
    background: #58b4f1dc;
    cursor: pointer;
}

.post-comment-signup {
    background: #C8CBCD;
}

.post-comment-signup:hover {
    cursor: pointer;
    background: white;
}

.no-comments-wrapper {
    min-height: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #666768;
    font-size: 17px;
}

.no-comments-wrapper i {
    font-size: 40px;
}

.post-comments-sorting-wrapper {
    border-bottom: thin solid grey;
    padding-bottom: 10px;
    position: relative;
}

.comments-sorting-btn {
    border: none;
    background: #1A1A1B;
    padding: 1px 5px 1px 0px;
}

.comments-sorting-btn:hover {
    cursor: pointer;
}

.comments-sorting-text {
    color: #58b4f1dc;
    font-size: 14px;
}

.comments-sorting-picker {
    display: flex;
    align-items: center;
}

.comments-sorting-picker i {
    font-size: 14px;
    color: #58b4f1dc;
}

.sorting-picker {
    display: none;
    width: 100px;
    z-index: 10;
    position: absolute;
    top: 35px;
    background: #1A1A1B;
    box-shadow: 0 2px 4px 0 rgba(215,218,220,0.2);
    border-radius: 6px;
}

.sorting-picker.active {
    display: flex;
    flex-direction: column;
}

.sorting-item {
    padding: 10px;
    margin: 0;
    border: 0;
    background: #1A1A1B;
    text-align: start;
}

.sorting-item:hover {
    background: #17232D;
    cursor: pointer;
}

.sorting-item-btn:hover {
    background: #17232D;
    cursor: pointer;
}

.sorting-item-btn {
    background: none;
    border: none;
    padding: 0;
    font-size: 14px;
    font-weight: 700;
    color: #818384;
}