.site-content-wrapper {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
}

.main-content {
    border: thin solid grey;
    border-radius: 5px;
    background: #1A1A1B;
    width: 70%;
    height: 100%;
}

.posts-banner {
    display: flex;
    border-bottom: thin solid grey;
    padding: 15px 20px;
}

.posts-wrapper {
    margin-right: 10px;
    padding: 5px 10px;
    background: grey;
    border: thin solid;
    border-radius: 5px;
}

.posts-wrapper a {
    text-decoration: none;
    color: #1A1A2B;
    font-size: 18px;
    font-weight: 600px;
}

.posts-wrapper a i {
    margin-right: 5px;
}

.post-listing {
    display: flex;
    align-items: center;
    padding: 10px 10px 0px 10px;
    border-bottom: thin solid grey;
    transition: background-color .5s;
}

.post-listing:hover,
.post-listing:focus {
    background-color: #F2975A;
    cursor: pointer;
}

.post-listing-logo-wrapper i {
    font-size: 37px;
    color: #58b4f1dc;
    margin-right: 25px;
}

.post-listing-wrapper {
    color: #D7DADC;
}

.post-listing-heading-wrapper {
    font-size: 20px;
}

.post-listing-heading-content {
    margin: 0;
}

.post-listing-details-wrapper {
    display: flex;
}

.post-listing-details-wrapper div p {
    margin: 0;
    margin-right: 5px;
    font-size: 15px;
    font-weight: 700;
}

.post-listing-details-wrapper div p a {
    text-decoration: none;
    color: grey;
    font-style: italic;
}

.post-listing-details-wrapper div p a:hover {
    color: #58b4f1dc;
}