.skeleton-container {
    opacity: .7;
    animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-text {
    width: 60%;
    height: 0.7rem;
    padding: 10px;
    margin: 15px auto;
    border-radius: .125rem;
}

.skeleton {
    list-style-type: none;
    margin: 15px 0px;
    border-bottom: 1px solid #D7DADC;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 70%);
    }

    100% {
        background-color: hsl(200, 20%, 95%);
    }
}