.account-section {
    color: #D7DADC;
    display: flex;
    flex-direction: column;
}

.account-title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;

}

.account-form {
    display: flex;
    flex-direction: column;
}

.account-form-credentials {
    font-size: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
}

.account-form-credentials label {
    margin-bottom: 10px;
}

.account-form-credentials input {
    width: 20%;
    height: 35px;
    border-radius: 3px;
}

.account-form-cta {
    align-self: center;
    padding: 0 105px;
    line-height: 36px;
    border-radius: 20px;
    background: #58b4f1dc;
    color: #D7DADC;
    font-size: 20px;
    font-weight: 700;
    margin-top: 25px;
}

.account-form-cta:hover {
    background: white;
    cursor: pointer;
    color: #58b4f1dc;
}

.account-redirect {
    text-align: center;
    font-size: 16px;
}

.account-redirect a {
    text-decoration: none;
}

.account-redirect-hightlight {
    font-size: 20px;
    color: #58b4f1dc;
    font-weight: bold;
}

.account-redirect-hightlight:hover {
    color: white;
    cursor: pointer;
}


.nav-bar a {
    margin-right: 15px;
    text-decoration: none;
    padding: 8px 25px 8px 25px;
    border-radius: 15px;
    font-weight: bold;
}

.cta-login {
    background: #212223;
    color: #D7DADC;
    border: 1px solid white;
}

.cta-login:hover {
    background: #58b4f1dc
}

.cta-signup {
    background: #C8CBCD;
    color: #1A1A2B;
}

.cta-signup:hover {
    background: white;
}