.profile-dropbtn {
    border: none;
    padding: 0;
    background: #1A1A1B;
  }

.profile-dropbtn:hover {
    cursor: pointer;
}

.profile-dropdown {
    position: relative;
    display: inline-block;
    margin-right: 25px;
  }

.profile-dropdown-content {
    display: none;
    position: absolute;
    background-color: #1A1A1B;
    min-width: 160px;
    right: -34px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: thin solid grey;
    border-radius: 3px;
    padding: 10px;
    animation: show-dropdown 0.5s;
  }

  @keyframes show-dropdown {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.profile-dropdown-content a {
    color: #D7DADC;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

 .profile-details {
    color: #00b4cc;
    font-size: 20px;
  }

.cta-signout {
    display: block;
    margin: 0 auto;
    padding: 5px 13px;
    border-radius: 2px;
    font-size: 17px;
    background: #00b4cc;
  }

.cta-signout:hover {
  cursor: pointer;
  background: #58b4f1dc;
}