body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: black;
}

*, ::after, ::before {
    box-sizing: border-box;
}

#root {
    position: relative;
}

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #1A1A1B;
    width: 100%;
}

.site-footer-wrapper {
    position: absolute;
    width: 100%;
    left: 74%;
    bottom: 0vh;
}

.site-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 25%;
    padding-top: 10px;
    background: #1A1A1B;
    border: thin solid grey;
    border-radius: 5px;
}

.rights-wrapper {
    width: 100%;
}

.rights {
    color: #D7DADC;
    font-size: 16px;
    text-align: center;
}

.footer-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-list li {
    padding: 3px;
}

.footer-list li a {
    text-decoration: none;
    color: #58b4f1dc;
}

.footer-list li a i {
    margin-right: 4px;
    color: #D7DADC;
}

.site-logo  a {
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: #58b4f1dc;
}

.site-logo a:hover {
    color: #7ca6c2dc;
}

.nav-bar a {
    margin-right: 15px;
    text-decoration: none;
    padding: 8px 25px 8px 25px;
    border-radius: 15px;
    font-weight: bold;
}

.cta-login {
    background: #212223;
    color: #D7DADC;
    border: 1px solid white;
}

.cta-login:hover {
    background: #58b4f1dc
}

.cta-register {
    background: #C8CBCD;
    color: #1A1A2B;
}

.cta-register:hover {
    background: white;
}

.account-section {
    color: #D7DADC;
    display: flex;
    flex-direction: column;
}

.account-title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;

}

.account-form {
    display: flex;
    flex-direction: column;
}

.account-form-credentials {
    font-size: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
}

.account-form-credentials label {
    margin-bottom: 10px;
}

.account-form-credentials input {
    width: 20%;
    height: 35px;
    border-radius: 3px;
}

.account-form-cta {
    align-self: center;
    padding: 0 105px;
    line-height: 36px;
    border-radius: 20px;
    background: #58b4f1dc;
    color: #D7DADC;
    font-size: 20px;
    font-weight: 700;
    margin-top: 25px;
}

.account-redirect {
    text-align: center;
    font-size: 16px;
}

.account-redirect a {
    text-decoration: none;
}

.account-redirect-hightlight {
    font-size: 20px;
    color: #58b4f1dc;
    font-weight: bold;
}

.site-content-wrapper {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
}

.site-content {
    border: thin solid grey;
    border-radius: 5px;
    background: #1A1A1B;
    width: 70%;
}

.site-highlight {
    width: 25%;
    height: fit-content;
    background: #1A1A1B;
    text-align: center;
    color: white;
    border-top: 1px solid  grey;
    border-left: 1px solid  grey;
    border-right: 1px solid  grey;
    border-radius: 5px;
}

.posts-banner {
    display: flex;
    border-bottom: thin solid grey;
    padding: 15px 20px;
}

.posts-wrapper {
    margin-right: 10px;
    padding: 5px 10px;
    background: grey;
    border: thin solid;
    border-radius: 5px;
}


.posts-wrapper a {
    text-decoration: none;
    color: #1A1A2B;
    font-size: 18px;
    font-weight: 600px;
}

.posts-wrapper a i {
    margin-right: 5px;
}

.highlight-content-wrapper {
    border-top: 1px solid grey;
}

.highlight-listing {
    padding: 0;
    margin: 0;
    list-style-position: inside;
}

.highlight-listing-item {
    padding: 15px 10px;
    border-bottom: solid thin grey;
}

.community-link {
    text-decoration: none;
    color: #D7DADC;
}

.community-link i {
    margin-right: 5px;
}

.post-listing {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: thin solid grey;
}

.post-listing:hover {
    background: #7ca6c2dc;
    cursor: pointer;
}

.post-listing-logo-wrapper i {
    font-size: 37px;
    color: #58b4f1dc;
    margin-right: 25px;
}

.post-listing-wrapper {
    color: #D7DADC;
    border-bottom: thin solid;

}

.post-listing-heading-wrapper {
    font-size: 20px;
}

.post-listing-heading-content {
    margin: 0;
}

.post-listing-details-wrapper {
    display: flex;
}

.post-listing-details-wrapper div p {
    margin: 0;
    margin-right: 5px;
    font-size: 15px;
    font-weight: 700;
}

.post-listing-details-wrapper div p a {
    text-decoration: none;
    color: grey;
    font-style: italic;

}
