body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: black;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #1A1A1B;
}

.site-logo  a {
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: #58b4f1dc;
}

.site-logo a:hover {
    color: #7ca6c2dc;
}

.nav-bar a {
    margin-right: 15px;
    text-decoration: none;
    padding: 8px 25px 8px 25px;
    border-radius: 15px;
    font-weight: bold;
}

.cta-login {
    background: #212223;
    color: #D7DADC;
    border: 1px solid white;
}

.cta-login:hover {
    background: #58b4f1dc
}

.cta-register {
    background: #C8CBCD;
    color: #1A1A2B;
}

.cta-register:hover {
    background: white;
}

.account-section {
    color: #D7DADC;
    display: flex;
    flex-direction: column;
}

.account-title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;

}

.account-form {
    display: flex;
    flex-direction: column;
}

.account-form-credentials {
    font-size: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
}

.account-form-credentials label {
    margin-bottom: 10px;
}

.account-form-credentials input {
    width: 20%;
    height: 35px;
    border-radius: 3px;
}

.account-form-cta {
    align-self: center;
    padding: 0 105px;
    line-height: 36px;
    border-radius: 20px;
    background: #58b4f1dc;
    color: #D7DADC;
    font-size: 20px;
    font-weight: 700;
    margin-top: 25px;
}

.account-redirect {
    text-align: center;
    font-size: 16px;
}

.account-redirect a {
    text-decoration: none;
}

.account-redirect-hightlight {
    font-size: 20px;
    color: #58b4f1dc;
    font-weight: bold;
}

.site-content-wrapper {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
}

.site-content {
    background: #1A1A1B;
    width: 70%;
}

.site-highlight {
    width: 25%;
    background: #1A1A1B;
    text-align: center;
    color: white;
    border-top: 1px solid  grey;
    border-left: 1px solid  grey;
    border-right: 1px solid  grey;
    border-radius: 5px;
}

.posts-banner {
    display: flex;
}

.highlight-content-wrapper {
    border-top: 1px solid grey;
}

.highlight-listing {
    padding: 0;
    margin: 0;
    list-style-position: inside;
}

.highlight-listing-item {
    padding: 15px 10px;
    border-bottom: solid thin grey;
}

.community-link {
    text-decoration: none;
    color: #D7DADC;
}

.community-link i {
    margin-right: 5px;
}
